/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  /* 
  --color-primary: hsla(160, 100%, 37%, 1);
  --color-primary-light: hsla(160, 100%, 42%, 1);
  --color-primary-dark: hsla(160, 100%, 32%, 1); 
  */

  --color-primary: hsl(29, 58%, 67%);
  --color-primary-light: hsl(29, 58%, 72%);
  --color-primary-dark: hsl(29, 58%, 60%);

  --color-secondary: hsl(210, 29%, 24%);
  --color-secondary-light: hsl(210, 29%, 29%);
  --color-secondary-dark: hsl(210, 29%, 19%);

  --color-success: hsla(120, 100%, 37%, 1);
  --color-success-light: hsla(120, 100%, 42%, 1);
  --color-success-dark: hsla(120, 100%, 32%, 1);

  --color-error: hsla(0, 100%, 37%, 1);
  --color-error-light: hsla(0, 100%, 42%, 1);
  --color-error-dark: hsla(0, 100%, 32%, 1);

  --color-warning: hsla(40, 100%, 37%, 1);
  --color-warning-light: hsla(40, 100%, 42%, 1);
  --color-warning-dark: hsla(40, 100%, 32%, 1);

  --color-info: hsla(210, 100%, 37%, 1);
  --color-info-light: hsla(210, 100%, 42%, 1);
  --color-info-dark: hsla(210, 100%, 32%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* display: grid; */
  /* overflow: hidden; */
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

main {
  display: grid;
  padding: 2rem;
  overflow: auto;
  gap: 1rem;
  max-height: 100%;
  grid-auto-rows: auto;
}

section {
  padding: 2rem;
  border: 2px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-background-mute);
  max-height: 100%;
}

.loader {
  display: inline-block;
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 1rem;
  border: 4px solid var(--color-primary);
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  animation: loader 1s linear infinite;
}

main .loader {
  place-self: center;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  background-color: var(--color-primary);
  color: var(--color-background);

  border: none;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

dialog {
  border: 4px solid var(--color-border);
  border-radius: 0.5rem;
  background-color: var(--color-background-soft);
  margin: auto;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0);
    /* backdrop-filter: blur(4px); */
  }
}

.add-btn {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1.25rem;

  &::before {
    content: '+';
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.back-link {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  gap: 0.25rem;
  align-items: center;

  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;

  justify-self: start;

  transition: all 250ms;

  &::before {
    content: '<<';
    line-height: 1;
  }

  &:hover {
    border-color: var(--color-secondary);
  }
}

.badge {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-weight: bold;

  display: inline-block;
  height: fit-content;

  &.available {
    background-color: var(--color-success);
  }

  &.issued {
    background-color: var(--color-primary);
  }

  &.librarian {
    background-color: var(--color-secondary);
  }
}

.button {
  font-family: Inter, sans-serif;
  padding: 0.5rem 1rem;

  background-color: var(--color-primary);
  color: white;

  border: none;
  border-radius: 0.5rem;

  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  line-height: 1;

  cursor: pointer;

  transition: background-color 200ms;

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &.read,
  &.issue,
  &.save {
    background-color: var(--color-success);
    color: var(--color-background);

    &:hover {
      background-color: var(--color-success-dark);
    }
  }

  &.return {
    background-color: var(--color-error);

    &:hover {
      background-color: var(--color-error-dark);
    }
  }

  &.edit {
    background-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary-dark);
    }
  }

  &.unissue {
    background-color: var(--color-warning);

    &:hover {
      background-color: var(--color-warning-dark);
    }
  }

  &.delete,
  &.cancel {
    background-color: var(--color-error);

    &:hover {
      background-color: var(--color-error-dark);
    }
  }
}
